@import '~bootstrap/scss/bootstrap';

body{
  background: #f8f9fa;
}
header{
  .navbar{
    background: #117a8b !important;
    padding: 20px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
}
.articles{
  padding: 50px 0;
  position: relative;
  .notifications{
    position: fixed;
    top: 20px;
    right: 10px;
  }
  .toast{
    opacity: 1;
  }
}
.card{
  margin-bottom: 25px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  h3{
    font-size: 18px;
  }
  &-body{
    background: #117a8b;
    color: #fff;
    &__error{
      color: #f7808b;
      font-size: 12px;
      font-style: italic;
    }
  }
  button{
    margin: 5px;
  }
}
